<div class="container">
    <div class="row edit-form-component">
        <form [formGroup]='articleEditForm' (submit)="submitForm()">
            <div class="col-lg-6 edit-form-component__left">             
                <div>
                    <label class="edit-form-component__input-header">Header:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="header" />
                </div>
                <div>
                    <label class="edit-form-component__input-header">Short description:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="description" />
                </div>
                <div>
                    <label class="edit-form-component__input-header">Content:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="content" />
                </div>
            </div>
            <div class="col-lg-6 edit-form-component__right">
                <div>
                    <label class="edit-form-component__input-header">Image Url:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="imageUrl" />
                </div>
                <div>
                    <label class="edit-form-component__input-header">Date:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="date" />
                </div>
                <div>
                    <label class="edit-form-component__input-header">Author:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="author" />
                </div>
                <div>
                    <label class="edit-form-component__input-header">Source url:</label><br />
                    <input type="text" class="edit-form-component__input-component" [formControl]="sourceUrl" />
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>





