.edit-form-component {
    display: flex;
    justify-content: center;
}

.edit-form-component__left{
    float: left; 
}

.edit-form-component__right{
    float: right; 
}

.edit-form-component__input-header {
    margin: 4px;
}

.edit-form-component__input-component {
    margin: 5px, 10px, 5px, 10px;
}