<div class="article-block-component">
    <div>
        <a href={{article.url}}>
            <img src={{article.urlToImage}} class="article-block-component__article-image" alt="article-image">
        </a>  
    </div>
    <div class="article-block-component__description-block">
        <a href={{article.url}}>
            <h4>{{article.title}}</h4>
        </a>
        <p>{{article.description}}</p>
    </div>
    <div>
        <div *ngIf="article.isLocal">
            <button [routerLink]="['/edit', article.id]">Edit</button>
        </div>
        <div *ngIf="article.isLocal">
            <button>Delete</button>
        </div>
    </div>
</div>