.article-image {
    width: 120px;
    height: 120px;
    border: 2px solid black;
}

.article-offset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.description-block {
    align-items: flex-start;
    width: 500px;
    margin: 10px;
}